@import "true";
@import "../solutions/4-loops.scss";

$terminal-output: false;

@include describe("colors mixin testing") {
  @include it("colors mixin testing with light theme") {
    @include assert {
      @include output {
        @include colors($theme-colors);
      }

      @include contains {
        .bg-primary {
          background: #f5e6e8;
        }

        .text-primary {
          color: #f5e6e8;
        }

        .bg-secondary {
          background: #d5c6e0;
        }

        .text-secondary {
          color: #d5c6e0;
        }

        .bg-success {
          background: #aaa1c8;
        }

        .text-success {
          color: #aaa1c8;
        }

        .bg-info {
          background: #967aa1;
        }

        .text-info {
          color: #967aa1;
        }

        .bg-warning {
          background: #192a51;
        }

        .text-warning {
          color: #192a51;
        }
      }
    }
  }

  @include it("colors mixin testing with dark theme") {
    @include assert {
      @include output {
        @include colors($theme-colors, "dark");
      }

      @include contains {
        .bg-primary {
          background: #1b262c;
        }

        .text-primary {
          color: #1b262c;
        }

        .bg-secondary {
          background: #0f4c75;
        }

        .text-secondary {
          color: #0f4c75;
        }

        .bg-success {
          background: #3282b8;
        }

        .text-success {
          color: #3282b8;
        }

        .bg-info {
          background: #f9f9f9;
        }

        .text-info {
          color: #f9f9f9;
        }

        .bg-warning {
          background: #bbe1fa;
        }

        .text-warning {
          color: #bbe1fa;
        }
      }
    }
  }
}
